# Student Performance Indicator
---
## 1. Problem Statement
- This project helps to understand how the key factors like gender, race/ethnicity, parent level educations, lunch and test preparation course are affecting the performance of the students.
## 2. Data Collection
- Dataset source - https://www.kaggle.com/datasets/spscientist/students-performance-in-exams?datasetId=74977
### 2.1 Importing Data and Required Packages
- numpy 
- pandas
- scikit learn
- matplotlib
- seaborn
- warning etc..

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

#### Importing the CSV Data as pandas Dataframe

In [6]:
df=pd.read_csv('C:/Users/Tnluser/Desktop/MachineLearningProjects/Student_Performance_Analysis/notebook/stud.csv')

#### Show Top 5 Records

In [7]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

#### Shape of the Dataset

In [8]:
df.shape

(1000, 8)

#### Features in Dataset

In [10]:
df.columns

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

#### Features Information
- gender : sex of students (Male/female)

- race/ethnicity : ethnicity of students(Group A, B,C, D,E)
- parental level of education : parents' final education (bachelor's degree,some college,master's degree,associate's degree,high school)
- lunch : having lunch before test (standard or free/reduced)
- test preparation course : complete or not complete before test
- math score
- reading score
- writing score

## 3. Datacheck to Perform
- Missing Values
- Duplicates
- Datatype
- Number of Unique Values in Each Columns
- Statistics of Dataset
- Check Various Categories Present in the Different Categorical Column


#### 3.1. Check Missing Values

In [12]:
df.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64